@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  background: white;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
